.postDiv {
    height: 150px;
}

.questionDiv {
    border-left-color: #6B474B;
}

.postDelete, .postEdit, .delete {
    margin-top: 13px;
    border: none;
    background-color: transparent;
}

.postDelete:focus, .postEdit:focus, .delete:focus {
    background-color: transparent;
}

.postDelete:hover, .postEdit:hover, .delete:hover {
    color: #EA5566;
}

.comfirmBtn, .questionComfirmBtn {
    border: none;
    background-color: transparent;
    font-size: 22px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin-top: 5px !important;
    display: none;
}

.comfirmBtn:focus, .questionComfirmBtn:focus {
    background-color: transparent !important;
}

.comfirmBtn:hover, .questionComfirmBtn:hover {
    color: #EA5566;
    transition-duration: .2s;
}

.posts a::after, .questions a::after {
    content: " ";
    display: block;
    width: 0;
    height: 0px;
    background: transparent;
    transition: none;
}

.posts a:hover {
    color: #EA5566;
    transition-duration: .2s;
}