footer {
    background-color: #ae5566;
}

.teacher {
    margin-top: 50px;
}

.testamonial {
    margin-top: 50px;
}

.signup {
    background-color: white;
    color: black;
}

.signup a {
    border-color: black;
    color: black;
}

.signup a:hover {
    background-color: black;
    color: white;
}

.submitTestamonial {
    background-color: #8f8f8f;
    color: white;
}

.submitTestamonial a {
    border-color: white;
    color: white;
}

.submitTestamonial a:hover {
    background-color: white;
    color: #8f8f8f;
}

